[submodule "static/submodules/rmd-line-num"]
	path = static/submodules/rmd-line-num
	url = https://github.com/atusy/rmd-line-num
[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = git://github.com/atusy/hugo-bootstrap
