.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

.blog-post h1 {
  margin: 1.5em 0em .3em;
  color: white;
  background: #007BFF; 
  padding: 0.2em;
}

.blog-post h2 {
  margin: 1em 0em .3em;
  border-bottom: solid 3px #007BFF;
}

.blog-post h3 {
  margin: 1em 0em .3em;
}
