<aside class="col-12 col-lg-3 ml-auto blog-sidebar">

    {{ $title := .Site.Title }}
    {{ if .IsPage }} 
      {{ $title = add " | " $title }} 
      {{ $title = add .Title $title }}
    {{ end }}

    <h4>Share</h4>
    
    <!-- use font awsome -->
    <section class="section sns_parent">
        <div class="container sns_section">
            <span class="sns_button twitter">
                <a href="//twitter.com/intent/tweet?url={{ .Permalink }}&text={{ $title }}" target="_blank" title="Tweet">
                  <img src="//icongr.am/simple/twitter.svg?size=32px&color=6c757d">
                </a>
            </span>
            <span class="sns_button hatena">
                <a href="//b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ $title }}" target="_blank" title="hatena">
                  <img src="//icongr.am/simple/hatenabookmark.svg?size=32px&color=6c757d">
                </a>
            </span>
            <span class="sns_button facebook">
                <a href="//www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ $title }}" target="_blank" title="Facebook">
                  <img src="//icongr.am/simple/facebook.svg?size=32px&color=6c757d">
                </a>
            </span>
            <span class="sns_button pocket">
                <a href="//getpocket.com/edit?url={{ .Permalink }}&title={{ $title }}" target="_blank" title="pocket">
                  <img src="//icongr.am/simple/pocket.svg?size=32px&color=6c757d">
                </a>
            </span>
        </div>
    </section>

    {{ if default true .Site.Params.sidebar.showRecent }}
        {{ partial "recent" . }}
    {{ end }}
    {{ if default true .Site.Params.sidebar.showTaxonomy }}
        {{ partial "taxonomies" . }}
    {{ end }}
    
    <hr>
    <div>
      <a href="/privacy-policy/">プライバシーポリシー</a>
    </div>
    <hr>
    <div>
      <a href="/netlify-forms/">問い合わせ</a>
    </div>
</aside>
